
@{
    ViewBag.Title = "Şifremi Unuttum";
}


<body>
    <div class="col-lg-8">
        <br />
        <h2>Şifremi Unuttum</h2>
        <div><h4 class="alert-danger">@ViewBag.MyError</h4></div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr class="new1" />
                <br />
                <h4 class="alert-danger">@ViewBag.HataErorr</h4>
                <h4>Lütfen E-Posta Adresinizi Giriniz.</h4>
                <br />
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="e-posta" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gönder" class="btn btn-primary" />
                        @Html.ActionLink("Geri Dön", "Login", "Member", routeValues: null, htmlAttributes: new { @class = "btn btn-warning", @role = "button" })
                    </div>
                </div>
            </div>
        }
    </div>
</body>

